.todo {
  border: 2px solid #cdcdcd;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  height: 50px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.button {
  /* border: 2px solid green; */
  background-color: #efefef;
  color: #232323;
}
.completed {
  text-decoration: line-through;
  opacity: 0.7;
}
.todoCheckbox {
  width: 20px;
  height: 20px;
  accent-color: white;
}
.btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
