.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 1rem;
}
.movieLink {
  border: 2px solid var(--dark-600);
  padding: 1rem;
  border-radius: 10px;
}
.poster {
  height: 430px;
  width: 280px;
  object-fit: cover;
}
