.singleProduct {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem;
}
.imgAndDesc {
  display: flex;
  gap: 1rem;
}
.image {
  display: block;
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;

  align-items: center;
}

.priceAndBuyBtn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
