.accordianWrapper {
  /* border: 2px solid red; */
  max-width: 900px;
  width: 90%;
  margin: auto;
}

.mainHeading {
  text-align: center;
  font-size: 48px;
}
.accordian {
  margin-bottom: 1rem;

  /* padding: 0.5rem; */
}
.accordianHeading {
  /* border: 2px solid lightcoral; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  background-color: rgb(45, 45, 45);
  font-size: 24px;
  border-bottom: 1px solid #000;
  padding-left: 1rem;
}
.heading {
  font-weight: 500;
}
.accordianContent {
  display: none;
}
.open {
  display: block;
}
.button {
  margin-right: 1rem;
  padding: 0;
  border-radius: 0;
  background: transparent;
  font-size: 2.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  border-color: none;
}
.button:focus,
.button:focus-visible {
  outline: none;
}
.accordianContent {
  background-color: rgb(45, 45, 45);
  margin: 0;
  font-size: 24px;
}
.accordianContent > * {
  margin: 0;
  padding: 1rem;
}
